[Unit]
Description=Flask Application for Nube System Monitoring
After=network.target

[Service]
Type=simple
User=<user>
WorkingDirectory=<working_dir>
ExecStart=./rubix-service -p <port> -g /data -d /data/rubix-services -a /data/rubix-services/apps --workers 1 --prod --token=<token>
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rubix-service

[Install]
WantedBy=multi-user.target
