[Unit]
Description=Flask Application for Nube System Monitoring
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=<working_dir>
ExecStart=<lib_dir>/venv/bin/python run.py -p <port> -g /data -d /data/rubix-service -a /data/rubix-service/apps --workers 1 --prod --token=<token>
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rubix-service

[Install]
WantedBy=multi-user.target
