[Unit]
Description=Flask Application for Nube System Monitoring
After=network.target

[Service]
Type=simple
User=<user>
WorkingDirectory=<working_dir>
ExecStart=sudo <lib_dir>/venv/bin/gunicorn -b 0.0.0.0:1616 --timeout 600 --log-level=DEBUG -w 1 run:app -e data_dir=<data_dir> -e token=<token>
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rubix-service

[Install]
WantedBy=multi-user.target