[Unit]
Description=Flask Application for Nube System Monitoring
After=network.target

[Service]
Type=simple
User=<user>
WorkingDirectory=<working_dir>
ExecStart=<lib_dir>/venv/bin/gunicorn -b 0.0.0.0:1616 --log-level=DEBUG -w 1 run:app
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=s-mon

[Install]
WantedBy=multi-user.target