[Unit]
Description=<description>
After=network.target

[Service]
ExecStartPre=/bin/sleep <pre_start_sleep>
Type=simple
User=root
WorkingDirectory=<working_dir>
ExecStart=<working_dir>/app -p <port> -r <root_dir> -a <app_dir> -d data -c config --prod server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=<name>
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
