[Unit]
Description=Flask Application for Nube System Monitoring
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=<working_dir>
ExecStart=./rubix-service -p <port> -d <data_dir> -g <global_dir> -a <artifact_dir> --token <token> --prod
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rubix-service

[Install]
WantedBy=multi-user.target
