[Unit]
Description=<description>
After=network.target

[Service]
Type=simple
User=<user>
WorkingDirectory=<working_dir>
ExecStart=./app -p <port> -d=<data_dir> --prod
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=point-server

[Install]
WantedBy=multi-user.target
